*{
  padding: 0px;
  margin: 0px;

}

body{
  background-color: teal;
  background: radial-gradient(yellow, rgb(189, 221, 7), green, darkgreen, rgb(6, 73, 6));
  font-family: sans-serif;
}

p{
  margin-bottom: 20px;
}

.loginform{
  background-color: white;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 100px;
  padding: 40px 0px 10px 10px;
  text-align: center;
}

.title{
  text-transform: uppercase;
  color: rgb(97, 131, 45);
  font-size: 50px;
  margin-bottom: 40px;
  
}

.login{

}

.btn{
  background-color: rgb(38, 228, 38);
  color: white;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 4px;
  border: 2px solid green;
  font-size: 20px;
}

#email, #pass{
  width: 300px;
  font-size: 20px;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 4px;
}

label{
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
}