*{
  /* padding: 0px; */
}

.table{
  border: 3px solid black;
  border-collapse: collapse;
  /* width: 100%; */
  margin: 50px auto;
  font-size: 35px;
}

th{
  /* margin: 25px; */
  border: 2px solid black;
  padding: 20px 40px;
}

td{
  border: 2px solid rgba(114, 114, 114, 0.459);
  /* margin: 30px auto 30px 20px; */
  text-align: left;
  font-weight: 2;
  padding: 20px;
}

.col1{
  width: 40%;
}